# Dataset Information

This project uses open-source **Long term (1850-2010) Island of Ireland Precipitation (IIP) network Dataset**.

## Dataset Source
The rainfall dataset is publicly available at https://edepositireland.ie/handle/2262/76134

## Citation
If you use this dataset in your own work, please cite it as follows:  

> `S. Noone, C. Murphy, J. Coll, T. Matthews, D. Mullan, R.L. Wilby, S. Walsh, 'Long term (1850-2010) Island of Ireland Precipitation (IIP) network', [dataset], Met Éireann, 2015-09`

## Related article

> https://mural.maynoothuniversity.ie/id/eprint/8729/

## Notes
- The zip file contains data and metadata for the Long term (1850-2010) Island of Ireland Precipitation (IIP) network. 

- This project is for **research demonstration purposes only** and does not represent official analysis by the data provider.

In [1]:
import os, zipfile
import pandas as pd
from PyPDF2 import PdfReader

In [2]:
# Path to your downloaded zip file
zip_path = "Long-Term-IIP-network 12042016.zip"   # change this to your actual filename

extract_to = "raw_data"

# Make sure the folder exists
os.makedirs(extract_to, exist_ok=True)

# Extract the zip
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_to)

print(f"Extracted {zip_path} to {extract_to}")

Extracted Long-Term-IIP-network 12042016.zip to raw_data

### Checking the Readme file.

In [3]:
!cat raw_data/readme.txt

This zip file contains data and metadata for the Long term (1850-2010) Island of Ireland Precipitation (IIP) network.

There are 25 files, NAME.csv, containing monthly rainfall totals for each station in the network, each of these files also contains information on the station location and altitude.

The file IIP_National series.csv contains the rainfall averaged over the 25 stations.

The file IIP station metadata.pdf contains station metadata and details of how the series were constructed.

### Checking the pdf file.

In [4]:
pdf_path = "raw_data/IIP_station_metadata.pdf"
reader = PdfReader(pdf_path)

# Extract text from all pages
for i, page in enumerate(reader.pages):
    text = page.extract_text()
    print(f"--- Page {i+1} ---")
    print(text[:1000])  # show first 500 chars per page

--- Page 1 ---
1
 Homogenisation and analysis of an expanded long-term monthly rainfall
network for the Island of Ireland (1850 -2010)
Supplementary Information
SI 1.0 Bridging of discontinuous stations
Bridging was required for three of the new series and ten stations in the CRU archive  because  of
station clos ures/moves . Bridging was undertaken  using seasonal regression on overlapping records to
derive adjustment factors. For each station, details on derived regressions and adjustment factors are
given in SI Table 1. All regression models were significant at the 0.05 level. For these stations
appropriate bridging stations could be found in close proximity. The poorest regressions were derived
for Roches Point, Derry, Belfast and Ardara where a lack of suitable local bridgi ng stations meant
candidates were derived from further afield. However, with the exception of Enniscorthy , all
seasonally derived correction factors are <10% but typically much lower  (SI Table 1).
For the t
--- Page 2 ---
2
 SI Table 1 Bridging metrics  for 13 stations (3 archived stations followed by 10 CRU stations). Details o f
the donor station(s) are provided together with overlapping years on which seasonal regression models
were derived. The quality of the bridging is shown by the amount of explained variance  (R2), Mean
Absolute  Error (MAE) and deriv ed seasonal Correction Factor (CF). All regression models are
significant (p<0.05).
Primary station  Donor Station(s)  Overlapping  Winter  Spring  Summer  Autumn
520 Rathdrum
1908 -1958  Bray  1908 -1915         R²= 0.983    R² = 0.865   R² = 0.983  R² = 0.678
 N=8 CF x 1.014    CF x 0.990   CF x 0.986  CF x 0.979
    MAE -0.65 MAE 0.15 MAE -0.57 MAE 0.10
Shillelagh  1909 -1940     R²= 0.665   R² = 0.689  R² = 0.676  R² = 0.799
 N=25  CF x 0.855   CF x 0.877   CF x 0.992  CF x 0.955
    MAE 2.82  MAE 1.16  MAE 0.39  MAE -1.36
624, 1024, 1124 Roundwood  1943 -1958  R² =0.945   R² =0.928  R² = 0.868  R² = .949
N=16  CF
--- Page 3 ---
3
 112    7412  Waterford  1966 -1994  R² = 0.80  R² = 0.95  R² =0.61  R² = 0.57
Waterford  Adamstown  N=28  CF x 1.03   CF x 1.09  CF x 1.01   CF x 1.01
1843 -1994      MAE 0.18 MAE 3.17  MAE 2.23  MAE 11.47


























--- Page 4 ---
4
 SI 2.0 Station Metadata
Metadata Contents list
Page  Station  Metadata source s
5                 Ardara
Killarney
Cappoquinn  Briffa,  (1984 )
Personal comm unications  with Prof Phil Jones
Climate Research Units UK
6
Belfast
Derry Personal communications with Prof Phil Jones
Climate Research Units UK
Met Éireann
Tabony, (1980)
7
Phoenix Park
Birr Personal comm unications with Prof Phil Jones
Climate Research Units UK
Tabony, ( 1980)
8
Valentia
Cork Airpor t Personal communications with Prof Phil Jones
Climate Research Units UK
Met Éireann
Tabony,  (1980)
9 Waterford  Met Éireann
Tabony, (1980)
     10, 11
Markree  Personal communications with Prof Phil Jones.
Climate Research Units UK
Met Éireann
Tabony,  (1980)
12 Armagh

Malin Head
 Personal comm unications with Prof Phil Jones
Climate Research Units UK
Met Éireann
Tabony,  (1980)
Prof.John Butler Armagh Observatory
13 Roches Point

Dublin Airport
--- Page 5 ---
5

 Station name and
County  Composite Stations, Period ,Correction factors (CF) , Gauge information
where available:  Gauge Diameter -Rim height abo ve ground ,altitude above
sea level in feet             Station  Notes




Ardara, Donegal
Londonderry (Tabony) 1870 -1994  CF 1.57  -  Inver Globe 1875 -1882 CF 1.34
-  Londonder ry (Tabony) 1883 -1886  CF 1.57 - Killybegs 1887 -1909 CF 1  -
Killybegs Rockmount 1910 -1931 CF 0.987 - Londonderry (Tabony) 1932 -1934
CF 1.57 - Dunkineely 1935 -1940 CF 1.42  - Londonderry (Tabony) 1941 -1950
CF 1.57 - Ardara, Wooodhill 1951 -1980 CF 1 - Bridged to 2010 using Glenties
Hatchery 1923 -2013 Winter CF 0.94, Spring CF  0.93, Summer CF 0.91,
Autumn  CF 0.94 .
 Constructed by Briffa (1984) using the 10
year sheets of the rainfall Archives of the UK
Met Office before 1940 and post 1940 from
the Irish Met service. Also records from
Tabony were used for certain periods. Update
in Jones and Conway 1997 up to 1994 using
d
--- Page 6 ---
6
 Station name and
County  Composite Stations, Period ,Correction factors (CF) , Gauge
information where available:  Gauge Diameter -Rim height above
ground ,altitude above sea level in feet  Notes






Belfast, Antrim



Linen Hall 1812 -1831 CF 1.2 11 inch gauge 4ft above ground ALT 12  -
Corsewel l Pt 1832 -1835 CF 1.17 11 inch gauge  4ft above ground ALT 12 -
Linen Hall 1836 -1859 CF 1.2 5 inch gauge 4 ft 9 inch above ground ALT
17 - Queens College 18 60-1904 CF 1.2 5 inch gauge 4 ft 9 inch  above
ground ALT 17 - Queens College 1905 -1955 CF 1.17 - Lagmo re Reservoir
1956 -1977 5 inch gauge  1 ft above ground ALT 58. Updated using
Hillsborough Winter CF 0.83, Spring  CF 0.85,  Summer CF 0.81, and
Autumn  CF 0.85 .   Constructed by Tabony 1980. 1832 -1835 incomplete,
1871 -1874 missing,  moved to Royal Academic Institute.
1902 estimates, Inspections in 1919 & 1927 good. 1958
inspection; over exposed NE & SE n on- standard turf
wall. Records bridged f
--- Page 7 ---
7

Station name
and County  Composite Stations, Period ,Correction factors (CF) , Gauge information where
available:  Gauge Diameter -Rim height above ground ,altitude above sea level in
feet Notes



Phoenix Park
 Dublin  Phoenix Park 1837 -1852 CF 1.04 gauge 8ft  above ground ALT 167 - Phoenix Park
1853 -1854 CF 1.05 gauge 10ft  above ground ALT 159  - Phoenix Park 1855 -1860
CF 1.035  gauge 3ft and 10ft  above ground ALT 159 - Phoenix Park 1861 -1862 CF
1.035  gauge 6 ft 6 inch  above ground ALT 166 - Phoenix Park 1863 CF 1.05 gauge
10 ft  above ground ALT  159  - Phoenix Park 1864 CF 1.04 gauge 7 ft  above ground
ALT  166  - Phoenix Park 1865 -1869 CF 1.04  gauge  10 ft  above ground ALT  169 -
Phoenix Park 1870 -1872 CF 1.05  gauge 10 ft  above ground ALT  170 - Phoenix
Park 1873 CF 1.05  gauge 10ft  above ground ALT  159 - Phoenix Park 1874 -1875
CF 1.05  gauge 10ft  above ground ALT  170 - Phoenix Park 1876 -1877 CF 1.01
gauge  2ft 7 inch  above ground AL
--- Page 8 ---
8
 Station name and
County  Composite Stations, Period ,Correction factors ,Gauge
Diameter -Rim height above ground ,altitude above sea
level in feet  Notes



Valentia,
Kerry  Knightstown , Valentia Island 1861 -1865 CF 1.025 8 inch
gauge 2ft 6 inch above ground 38  - Valentia Observatory ,
Valentia Island 1866  - 1875 CF 1.025 8 inch gauge   3 ft
above ground ALT 11 - 1876 -1879 CF 1.025 8 inch
gauge  &  2 ft  above ground 12 - 1880 -1892 CF 1.025 11
inch gauge  2 ft  above ground ALT11 - Valentia
Observatory , Mainland 1893 CF 1.01 8 inch gauge 2 ft
above ground ALT 4 0 - 1894  -1908  8 inch gauge 2 ft
above ground ALT 32 - 1909  8 inch  gauge  2 ft  above
ground ALT 62 - 1910 -1913 8 inch gauge   2 ft  above
ground ALT 45 - 1914 -1920 11 inch gauge  2ft 8 inch
above ground ALT 30 - 1921 -1932 8 inch gauge  1ft
above ground ALT 30 - 1933 -1940 8 inch gauge 1ft 3
inch above ground ALT 30.
Constructed by Tabony 1980
Met Service Monthly weather report s
--- Page 9 ---
9
 Station name and
County  Composite Stations, Period ,Correction factors ,Gauge
Diameter -Rim height above ground ,altitude above sea
level in feet  Notes




Waterford,
Waterford  Inistogue 1843 -1859 CF 0.995 5  inch gauge  4 ft  above
ground ALT 116 - 1860 -1869 CF 0.995 5  inch gauge  4 ft
above ground ALT 316  - 1870  - 1899 CF 0.995 5  inch
gauge  4 ft above ground ALT 400 - 1905 -1924 CF 0.985
5 inch gauge  1 ft  above ground ALT 400 - Brook Lodge
1875 -1878  5 inch gauge  3 ft 8 inch  above ground ALT
175 - 1879 -1899  5 inch gauge   1 ft  above ground ALT
100 - 1900 -1931 CF 0.985 5 inch  gauge  1 ft  above
ground ALT  104 - Gortmore 1906 -1909  5 inch  gauge
1ft 6 inch  above ground ALT 100 - 1910 -1912  5 inch
gauge   1 ft  above ground various - 1913 -1917  5 inch
gauge   1 ft  above ground various - 1918  5 inch gauge   1
ft  above ground ALT 120 - 1919  5 inch gauge   1 ft
above ground ALT 120 - 1920 -1948 CF 0.953 5  inch
gauge   1 ft 2 inc
--- Page 10 ---
10
 Station name and
County  Composite Stations, Period ,Correction factors ,Gauge Diameter -Rim
height above ground ,altitude above sea level in feet  Notes








Markree Castle,
Sligo  Constructed by Tabony 1980  using Markree Castle records.
Wall gauge 1833 -1859 2ft 7 inch square gauge 16ft  above ground ALT
145-  1860 -1869 2 ft square gauge   16 ft  3 inch  above ground ALT
145 - 1870 -1873 2ft 7 inch square  gauge  16 ft 3 inch above ground
ALT  148 - 1875 2ft 3 inch square  gauge  16 ft 3 inch above ground ALT
148 - 1876 2ft 3 inch square gauge  16 ft 3 inch above ground ALT  148
- 1880 -1882 2ft 7 inch square gauge 16 ft 7 inch  above ground ALT
148 - 1883 2ft 7 inch square gauge 16 ft 7 inch   above ground 148 -
1884 -1886 2ft 7 inch square gauge  16 ft 7 inch  above ground ALT
148.Comments: The two gauges overlapped in year 1870 -73,1875 -76,
1880 -82 and 1884 -86.The effect of the lea k in the wall gauge from
1880 -1882 is clearly discernible. T
--- Page 11 ---
11
 Station name
and County  Notes, Continued  Notes, Continued











Markree Castle,
Sligo  Comparison readings from old enclosure
to be taken.25/01/1954 observations
comparison readings too
variable.02/12/1954 observations
comparison readings cease.01/07/1957
rainfall amounts are lower than
neighbouring sites rainfall since
1947.17/07/1957 inspe ction all in order
including rain -gauge. No evidence of
shading. Higher rainfall in other stations
may be due Ox mountains and Lough
Gill27/02/1958 inspection all in order.
Rain -gauge has not been moved more
than a few feet since 1916. Old gauge
examined b ut no fault found. Youngest
trees in area over 30 years
old.09/12/1959 inspection usual high
standard28/06/1960 inspection all in
order.21/11/1966 observations observer
died.19/01/1967 inspection new
observer extra instruction given.
Dependable.06/01/1970 Some readings
missed (A Week?)04/03/1981 Station
old astronomers derelict cottage being
r
--- Page 12 ---
12
 Station
name and
County  Composite Stations, Period ,Correction factors ,Gauge
Diameter -Rim height above ground ,altitude above sea
level in feet Notes

Armagh
observatory,
Armagh
Armagh Observatory 1838 -2010   ALT 62
Continuous records 1838 -2010, s ee Butler, et. al  (1998) for details .
Records provided to this research by Armagh Observatory no correction factor
needed.








Malin Head,
Donegal





Malin Head S.W.S.(Old Site) Stno145 1890 -1975
ALT 72
Malin Head (manual) 1976 -2010 ALT 72  From 1890 throughout the period covered, the observations taken at Malin Head
consistently recorded the following: barometer and thermometer readings , wind
direction and force, extreme wind force, weather, rainfall, sea disturbance and
general remarks.  Three -times -daily readings were taken at 08:00, 14:00, and
18:00 GMT from 1890 until 1905.  We do not have the registers for 1906 -1908.
From 1909 unti l 1920, the forms changed slightl
--- Page 13 ---
13
 Station name and County  Composite Stations, Period ,Correction
factors ,Gauge Diameter -Rim height above
ground ,altitude above sea level in feet  Notes







Roches Point,
Cork






Bridged and updated to 2010 using records
at Cork Airport Winter CF  1.14, Spring  CF
1.07, Summer  CF 0.97, and Autumn CF
1.07. From July 1873, the registers recorded measurements of the following
phenomena:  barometer and thermometer readings, wind direction and force,
amount of cloud, weather, rain, sea disturbance, and general remarks on the
appearance of the weather or on any e xceptional phenomena.  The daily
observations were taken at 8:00, 14:00, and 18:00 GMT, and in August of 1905,
duration of bright sunshine was added to the list of fields.  In July 1908, the times
of readings were changed to 7:00, 13:00, and 18:00 GMT, and  from January
1909 until January 1915 they were taken a fourth time daily at 21:00 GMT, with
the added field of extreme wind force
--- Page 14 ---
14
 Station name
and County  Composite Stations, Period ,Correction factors ,Gauge
Diameter -Rim height above ground ,altitude above sea level
in feet  Notes










Mullingar,
Westmeath






Archived station records transcribed from hard copies at Met
Éireann

Belvedere G ardens , Mullingar   5 inch gauge 1ft  above ground
ALT 367
New station 1950 Mullingar Town Stno 2222 .
 01/01/1943 station opened 01/01/1949 observations new observation
hours From 01/01/1949.31/08/1949 surroundings hedge to W interfering
with sunshine19/03/1957 rain gauge funnel replaced28/05/1968
surround ings repairs complete07/11/1973 surroundings old station ceases
@0900z new station at a new location began @ 1000zNew Station Co -
ordinates....Lat 53.32N....Long 07.22W. Old Station Co -ordinates.....Lat
53.31N....Long 07.21W01/03/1991 station ceased to be m anned 24
hours06/01/1998 station aws AGI aws came into use  01/07/2002 rain tbrg
replaced (0.1mm)09/10/200
--- Page 15 ---
15
 Station name  and County  Composite Stations, Period ,Correction factors ,Gauge
Diameter -Rim height above ground ,altitude above sea level in
feet Notes


Rathdrum,
Wicklow
 Archived station records transcribed from hard copies at
Met Éireann.
 Avondale House , Wicklow 1908 -1956 5 inch gauge 3 inch above
ground ALT 420 - Coolatin Shillelagh , Wicklow 1909 -1940 5
inch gauge 7 inch  above ground ALT 400 W inter CF 0.85 , Spring
CF 0.877,  Summer  CF 0.99, A utumn CF 0.95 -Fassaroe Bray
Wicklow 1872 -1915 10 inch square gauge 5ft  above ground ALT
250 W inter CF 1.01, Spring  CF 0.99,  Summer  CF 0.98, A utumn
CF 0.97 - Updated to 2010 using neighbouring Stations within 30
km - Vartry Lodge  stno 624, Roundwood s tno 1024 , Filter Beds ,
Roundwood  stno 1124 , Roundwood , Valve Tower 1 940-2012
Winter CF 0.98,  Spring  CF 0.94,  Summer  CF 1.00, A utumn  CF
0.94.


Missing records 1918 -1924 in filled from
Coolatin Shillelagh using regression
corr
--- Page 16 ---
16

Station name and County  Composite Stations, Period ,Correction factors ,Gauge Diameter -Rim
height above ground ,altitude above sea level in feet  Notes




Strokestown,
Roscommon

Archived station records transcribed from hard copies at Met Éireann
Castlenode Strokestown Stno 229 1908 -1961  5 inch gauge  2ft  above
ground ALT 150 –Bridged from 196 1 to 2010 using neighbouring donor
stations  at stno 3729 Scramoge  4229 Strokestown G.S.  4829, Strokestown
Elphin st   stno1529 Albert lock Winter CF 0.95,  Spring  CF 0.95,  Summer
CF 0 .93, A utumn  CF 0.95 .



Foulk esmills,
Wexford
Archived station records transcribed from hard copies at Met Éireann
Foulk esmills , Lograigue  st no. 108, 1874 -2012  5 inch gauge  13 inch
above ground ALT 210 - Infilled some monthly missing data 1907 -1914
from donor station at Ballyhyland ,Wexford  1871 -1918 5 inch gauge  12
inch  above ground ALT 365  Winter CF 1.01,Spring CF 1.01,Summer CF
1.
--- Page 17 ---
17


Station name and County  Composite Stations, Period ,Correction factors ,Gauge
Diameter -Rim height above ground ,altitude above sea
level in feet  Notes







Portlaw,
Waterford




Archived station records transcribed from hard copies at
Met Éireann

Portlaw , Waterford stno 1612 1841 -1994 5 inch gauge
48 inch  above ground ALT 25 - New station opened
1994 -2012  at Portlaw stno 8212 5 inch gauge  12 inch
above ground situated 100 metres from old gauge within
same grounds.  Date ElementWs309/168: Portlaw Co. Wate rford 1612 from 1841
observations, Note on 03/10/1948.  Readings date back to 1841.
1861 observations readings being taken by the Malcolmsons since
1861, 13978 inspections Observer had been gardener with original
owners and continued to take readings when new owners (Irish
Tanneries) took over 5 years ago. 5" gauge with rim 12" above
ground in poor state with dent in rim. Good exposure on lawn. 30'
high Trees 90' to S. and 25' h
--- Page 18 ---
18

Station name
and County  Notes Continued  Notes Continued





Portlaw,
Waterford  19341 10mm rain -measure 5" capacity received  19511
return doubtful. Not accepted. Observer had been absent.
19645 August rainfall satisfactory. July too high.19758
readings now in mm  20010 gauge in good order and records
up to date. Plants in border too high and close to gauge.
Observers will rectify.21155 rain -measure reported broken.
Replacement issued 07/01/195822775 gauge in good order
and records up to date. Gauge is now on lawn c lear of
plants. No weekend readings.23043 rain -measure requested
23686 rim of gauge out of shape and only 7" above ground.
To be rectified by observer. (Gauge belongs to Irish
Tanneries) records up to date.rim of gauge fractured and
repairs unsuccessful. G auge issued on loan. Records up to
date. Rain -measure reported broken. Replacement received
21/08/196723761 rim of gauge fractured and repairs
unsuccessful.

Gauge issued on loan
--- Page 19 ---
19
 Station name
and County  Notes Continued  Notes Continued





Portlaw,
Waterford  Gauge replaced. Records up to date.26338 new observer
will not be able to take weekend readings.26694 gauge
in good order and records up to date. 27068 gauge in
good order and records up to date. 27689 drip tube
loose.  Replacement to be issued. Records up to
date.28438 gauge in good order and records up to date.
New observer. Rain -measure issued.30233 gauge in
good order and records up to date. No weekend
readings.30707 observer has been made redundant by
Irish tanneries but continues to take readings. To be paid
from 01/07/198330860 observer could not be contacted
30957 exposure go od. Gauge in good order and records
up to date. Keen observer.31579 exposure good.  Gauge in good order and records up to date. Keen observer. New site required as
he only has access in afternoons.31594 permission sought and granted by phone
call to move g auge to observer’s large garden.31245
--- Page 20 ---
20
 Station name
and County  Composite Stations, Period ,Correction factors
,Gauge Diameter -Rim height above ground ,altitude
above sea level in feet  Notes









University
College
Galway,
Galway







Archived station records transcribed from hard copies
at Met Éireann
Unive rsity College Galway 1861 -1965 5 inch  gauge
14 inch above ground ALT 64 – New station at
University College Galway stno 3927 1965 -2011
ALT 45  1965 40' x 40' enclosure surrounded by 8' high wire mesh supported by concrete
posts. Established 5" rain -gauge Ra in-recorder. Screen, max,  min, dry, wet. G -min.
2", 4", 8" soil.max received. 1966 Good observations. Replaced rain -recorder
float.  Deputy observer for last 2 weeks of July.  1967 Good observations. Anemo
has been installed by college. 1969 Good observations. 1970 instruments moved to
new site at regional hospital. Wooden "post and rail" fence. 1971 good.  G -min
and soil temps broken. Not to be replaced
--- Page 21 ---
21
 Station
name
and
County  Composite Stations, Period ,Correction factors ,Gauge Diameter -Rim
height above ground ,altitude above sea level in feet  Notes








Drumsna,
Leitrim






    Archived station records transcribed from hard copies
 at Met Éireann  Albert Lock stno1529  continuous  records to date
 missing monthly values  1921 and 1949 in filled from donor
station at Strokestown 5 inch gauge  24 inch
  above ground ALT 148 Winter CF 1.09, Spring CF 1.08, Summer
CF1.05,Autumn,CF 1.12.
 1876 gauge appears to have been in existence since 1876. Funnel in a
wooden box type. Always considered too low for publication. 1938
record again too low for publication  (note from M et Office). 1939
records of Drumsna have never appeared in British rainfall. 1942 5”
gauge 1' above ground leaking. Very exposed open flat country. Partly
shaded by fencing. New gauge installed in a sheltered position nearby
for comparison. 19 43 new gauges are now o
--- Page 22 ---
22
 Station name and
County  Notes Continued





Drumsna,

In [5]:
# Getting a list of all files that are extracted.

all_files = []
for root, dirs, files in os.walk(extract_to):
    for f in files:
        all_files.append(os.path.join(root, f))

len(all_files), all_files

(28,
 ['raw_data/Cork Airport.csv',
  'raw_data/Killarney.csv',
  'raw_data/Waterford.csv',
  'raw_data/Cappoquinn.csv',
  'raw_data/Dublin Airport.csv',
  'raw_data/Phoenix Park.csv',
  'raw_data/Strokestown.csv',
  'raw_data/Athboy.csv',
  'raw_data/Belfast.csv',
  'raw_data/Enniscorthy.csv',
  'raw_data/Shannon Airport.csv',
  'raw_data/Malin Head.csv',
  'raw_data/Derry.csv',
  'raw_data/Birr.csv',
  'raw_data/Mullingar.csv',
  'raw_data/Valentia.csv',
  'raw_data/IIP_station_metadata.pdf',
  'raw_data/Rathdrum.csv',
  'raw_data/Roches Point.csv',
  'raw_data/Markree Castle.csv',
  'raw_data/readme.txt',
  'raw_data/University College Galway.csv',
  'raw_data/IIP_National series.csv',
  'raw_data/Foulkesmills.csv',
  'raw_data/Armagh.csv',
  'raw_data/Portlaw.csv',
  'raw_data/Ardara.csv',
  'raw_data/Drumsna.csv'])

In [6]:
# Saving all file names, to use in different notebooks.

with open("my_list.txt", "w") as f: 
    for item in all_files:
        f.write(item + "\n")

In [7]:
# Example file

csv_path = "raw_data/ardara.csv"

# Load CSV into a DataFrame
df = pd.read_csv(csv_path)

df

,Easting,Northings,Latitude,Longitude,elevation (metres),Station,County,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,180787.66,394679.05,54.7996033,-8.2994908,15,Ardara,Donegal,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
2,1850,169,162.4,62.2,159.5,101.3,100.4,134.4,156.1,137.6,120,173,117.7
3,1851,236.4,112.9,104.2,78.1,61.1,147.4,160.8,181.2,106,189.2,109.8,103.4
4,1852,249.7,191,50.8,67.7,72.3,246.5,123.2,167.3,85.5,122.1,329.5,339.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,2006,103.2,103.1,146.6,90.3,114.1,58.9,104.7,95.9,157.8,175.9,214.9,325
159,2007,226.5,137.3,132.3,41.3,144,126.2,215.4,142.2,124.6,122.3,134.5,205.6
160,2008,217.6,157.6,219,74.5,31.7,145.3,82.3,174.7,161.6,296.2,184.2,183.2
161,2009,287.6,56.9,114.6,155.2,134,69.5,218.2,249.7,97.6,157.5,329.1,104.7
162,2010,117.6,63.6,86.6,99.1,53.1,58.9,219.2,108.7,194.5,84.1,272,138.6

In [8]:
# NAN value check across all files.

all_files_null_count = {}

for file_name in all_files:
    null_count = {}
    if ".csv" in file_name:
        df = pd.read_csv(file_name)
        for col_name in df.columns:
            null_count[col_name] = df[col_name].isnull().sum()
        all_files_null_count[file_name] = null_count
    
all_files_null_count

{'raw_data/Cork Airport.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Killarney.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Waterford.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Cappoquinn.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Dublin Airport.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Phoenix Park.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Strokestown.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Athboy.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Belfast.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Enniscorthy.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Shannon Airport.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Malin Head.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Derry.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Birr.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Mullingar.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Valentia.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Rathdrum.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Roches Point.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Markree Castle.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/University College Galway.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/IIP_National series.csv': {'Island of Ireland precipitation (IIP) National series (averaged monthly precipitation of the 25 station series)': np.int64(1),
  'Unnamed: 1': np.int64(1),
  'Unnamed: 2': np.int64(1),
  'Unnamed: 3': np.int64(1),
  'Unnamed: 4': np.int64(1),
  'Unnamed: 5': np.int64(1),
  'Unnamed: 6': np.int64(1),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Foulkesmills.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Armagh.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Portlaw.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Ardara.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)},
 'raw_data/Drumsna.csv': {'Easting ': np.int64(0),
  'Northings': np.int64(0),
  'Latitude': np.int64(0),
  'Longitude': np.int64(0),
  'elevation (metres)': np.int64(0),
  'Station': np.int64(0),
  'County': np.int64(0),
  'Unnamed: 7': np.int64(1),
  'Unnamed: 8': np.int64(1),
  'Unnamed: 9': np.int64(1),
  'Unnamed: 10': np.int64(1),
  'Unnamed: 11': np.int64(1),
  'Unnamed: 12': np.int64(1)}}

### In each file, the columns with names starting with `Unnamed` contain one apparent missing value, which is not actually missing data but rather a result of the table’s structure. Example shown below,

In [9]:
all_files_null_count['raw_data/IIP_National series.csv']

{'Island of Ireland precipitation (IIP) National series (averaged monthly precipitation of the 25 station series)': np.int64(1),
 'Unnamed: 1': np.int64(1),
 'Unnamed: 2': np.int64(1),
 'Unnamed: 3': np.int64(1),
 'Unnamed: 4': np.int64(1),
 'Unnamed: 5': np.int64(1),
 'Unnamed: 6': np.int64(1),
 'Unnamed: 7': np.int64(1),
 'Unnamed: 8': np.int64(1),
 'Unnamed: 9': np.int64(1),
 'Unnamed: 10': np.int64(1),
 'Unnamed: 11': np.int64(1),
 'Unnamed: 12': np.int64(1)}

In [10]:
# Load CSV into a DataFrame
df = pd.read_csv("raw_data/IIP_National series.csv")

df

,Island of Ireland precipitation (IIP) National series (averaged monthly precipitation of the 25 station series),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
2,1850,113.5,86.4,38.6,138.3,59.7,54.5,103.4,76.3,70.5,62.7,113.1,104
3,1851,195,55.2,79.9,54.7,45,101.5,90.3,96.6,49.4,113.4,45.4,68.8
4,1852,161.4,92.4,44.6,44.4,70.2,179.4,68.6,110.1,57.3,88.7,223.2,208.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,2006,57.6,54.6,120.3,47.3,126.2,29.8,55.9,70.8,162.6,145.6,142.3,170.5
159,2007,107.9,107.8,80.3,26.9,65.9,141.3,133,100.4,52.8,52.2,75,123.1
160,2008,174.3,58,113.5,45.1,42.3,101.9,123.8,175.9,108.2,152.4,80.4,73.7
161,2009,152.9,36.5,48.7,120.9,90.7,73.2,174.7,148.4,49.4,129.9,244.9,105.4
162,2010,93.8,52.6,86.2,56.9,47.5,54.2,139.2,43.7,136,80.1,135.8,62.5